{% extends 'layouts/base.html.twig' %}

{% block title %}
    Yangilik qo'shish
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Yangilik qo'shish</h3>
                        <form action="/admin/news/create" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="name">Yangilik sarlavhasi</label>
                                <input type="text"
                                       class="form-control {{ session.has('errors.name') ? "is-invalid" : "" }}"
                                       id="name" name="name" autocomplete="off"
                                       required>
                                {% if session.has('errors.name') %}
                                    <span class="invalid-feedback">
                                        {{ session.pop('errors.name') }}
                                    </span>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="image">Yangilik surati</label>
                                <input type="file"
                                       required
                                       class="form-control {{ session.has('errors.image') ? "is-invalid" : "" }}"
                                       id="image" name="image">
                                {% if session.has('errors.image') %}
                                    <span class="invalid-feedback">
                                        {{ session.pop('errors.image') }}
                                    </span>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="content">Yangilik matni</label>
                                <textarea type="file"
                                          class="form-control {{ session.has('errors.content') ? "is-invalid" : "" }}"
                                          id="content"
                                          name="content"
                                          rows="10"
                                ></textarea>
                                {% if session.has('errors.content') %}
                                    <span class="invalid-feedback">
                                        {{ session.pop('errors.content') }}
                                    </span>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Saqlash</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="/assets/js/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#content'), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });
    </script>
{% endblock %}