{% extends 'layouts/base.html.twig' %}

{% block title %}
    Yangiliklar
{% endblock %}

{% block sidenav %}
    <a href="#" class="nav-link">Bu yangi link</a>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col col-md-6">
                <h1 class="text-center mb-3">Yangiliklar</h1>
                {% for newsItem in news %}
                    <div class="card mb-4">
                        <div class="card-header d-flex flex-row justify-content-between">
                            <h5 class="card-title">
                                {{ newsItem.name }}
                            </h5>
                            <form action="/news/{{ newsItem.id }}/delete" method="post">
                                <button type="submit" class="btn btn-danger btn-sm">
                                    O'chirish
                                </button>
                            </form>
                        </div>
                        <img src="{{ newsItem.image }}" class="card-img-top" alt="{{ newsItem.name }}">
                        <div class="card-body">
                            <p>
                                {{ newsItem.content | raw }}
                            </p>
                            <a href="/news/{{ newsItem.id }}" class="card-link">O'zgartirish</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}